.colonne {
	margin: 15px 25px 0 25px;
	padding: 0;
}
.colonne:last-child {
	padding-bottom: 60px;
}
.colonne::after {
	content: '';
	clear: both;
	display: block;
}
.colonne div {
	position: relative;
	float: left;
	width: 100%;
	height: 150px;
	margin: 0 0 0 35px;
	padding: 0;
}
.colonne div:first-child {
	margin-left: 0;
}
/* Opacité */
.opacity1 div img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.opacity1 div:hover img {
	opacity: .5;
}